.typewriter-text{
  width: 9ch;
  overflow: hidden;
  letter-spacing: 2px;
  white-space: nowrap;
  animation: typing 2s steps(15), blink .5s step-end infinite alternate;
  font-size: 30px;
  font-weight: 500;
  border-right: 6px solid black;
  box-sizing: border-box;
}

.typewriter-text2{
    width: 26ch;
    overflow: hidden;
    letter-spacing: 2px;
    white-space: nowrap;
    animation: typing 4s steps(15), blink .5s step-end infinite alternate;
    font-size: 30px;
    font-weight: 500;
    border-right: 6px solid black;
    box-sizing: border-box;
  }

@keyframes typing {
    from { 
        width: 0% 
    }
}

@keyframes blink {
    50% { 
        border-color: transparent; 
    }
}
