header > img{
    width: 140px;
}

h1{
    font-size: 25px;
    float: right;
    margin: 5px
}

h2{
    font-size: 18px;
}

span{
    font-size: 15px;
}

.p2{
    float: right;
    color: gray;
}

.container-div{
    margin: 10px;
}

.rules_agreement{
    margin-top: 60px;
}

hr{
    margin: 20px 0;
}